.iconStyle{
	width: 38rpx;
	height: 38rpx;
}

.business-text-fen{
	color: #595959;
	font-size: 22upx;
	margin-top: 10upx;
}
.business-text-lan{
	display: flex;
	align-items: center;
}
.business-text-lan-icon{
	font-size: 16upx;
	widows: 16upx;
	height: 16upx;
}
.business-text-money{
	font-size: 28upx;
	color:#545DFF ;
	font-weight: bold;
}
.business-right{
	width: 170upx;
	text-align: right;
}
.business-tab{
	background-color: transparent;
	padding-bottom: 0;
}
.business-list{
	background-color: #fff;
	border-radius: 12upx;
	border: 1px solid #545DFF;
	color: #545DFF;
}
.active{
	background-color: #545DFF;
	color: #fff;
}

.business-sou{
	padding: 6upx 0 6upx 40upx;
	background-color: #3E47E1;
	display: flex;
}
.business-sou-left{
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.business-shuai{
	flex-grow: 0;
	flex-shrink: 0;
	width: 80upx;
	height: 80upx;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #fff;
}
.shai-chong{
	font-size: 28upx;
	color: #fff;
	width: 80rpx;
}
.business-sou-icon{
	width: 40upx;
	height: 40upx;
	flex-grow: 0;
	flex-shrink: 0;
	
}
.business-new-input{
	flex-grow: 1;
	color: #dfdfdf;
	font-size: 28upx;
	padding-left: 30upx;
}

/* mask */
.shai-box{
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 11;
	display: flex;
	flex-direction:column;
	height:100%; 
}
.shai-box .rgba{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 12;
	background-color: transparent;
}
.shai-content,.shai-top{
	z-index: 13;
}
.shai-top{
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.shai-list{
	display: flex;
	justify-content: space-between;
	padding: 22upx 40upx;
	background-color: #3E47E1;
	color: #FFFFFF;
	font-size: 28upx;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.shai-left{
	flex-grow: 1;
}
.shai-right{
	display: flex;
	width: 100upx;
	flex-grow: 0;
	align-items: center;
}
.shai-list:last-child{
	border-bottom: none;
}
